<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PrimaryKey</key>
	<string>itemId</string>
	<key>TableName</key>
	<string>RacketCollectionInfo</string>
	<key>OCType</key>
	<dict>
		<key>sortId</key>
		<string>NSNumber</string>
		<key>itemId</key>
		<string>NSNumber</string>
		<key>type</key>
		<string>NSNumber</string>
		<key>picUrl</key>
		<string>NSString</string>
		<key>thumbPicUrl</key>
		<string>NSString</string>
		<key>title</key>
		<string>NSString</string>
		<key>likeNum</key>
		<string>NSNumber</string>
		<key>isLike</key>
		<string>NSNumber</string>
		<key>praiseNum</key>
		<string>NSNumber</string>
		<key>isPraised</key>
		<string>NSNumber</string>
		<key>contDataHtml</key>
		<string>NSString</string>
		<key>themeAbstract</key>
		<string>NSString</string>
		<key>shareNum</key>
		<string>NSNumber</string>
		<key>pubTime</key>
		<string>NSNumber</string>
		<key>playYear</key>
		<string>NSString</string>
		<key>sex</key>
		<string>NSNumber</string>
		<key>isConcerned</key>
		<string>NSNumber</string>
		<key>commentUserId</key>
		<string>NSString</string>
		<key>commentName</key>
		<string>NSString</string>
		<key>commentUserURL</key>
		<string>NSString</string>
		<key>commentTime</key>
		<string>NSNumber</string>
		<key>commentNum</key>
		<string>NSNumber</string>
		<key>comment</key>
		<string>NSString</string>
		<key>evaluateUserId</key>
		<string>NSString</string>
		<key>evaluateName</key>
		<string>NSString</string>
		<key>evaluateUserURL</key>
		<string>NSString</string>
		<key>evaluateUserThumbURL</key>
		<string>NSString</string>
		<key>evaluateTime</key>
		<string>NSNumber</string>
		<key>content</key>
		<string>NSString</string>
		<key>tagInfo</key>
		<string>NSString</string>
	</dict>
	<key>DBType</key>
	<dict>
		<key>sortId</key>
		<string>INTEGER</string>
		<key>itemId</key>
		<string>INTEGER</string>
		<key>type</key>
		<string>INTEGER</string>
		<key>picUrl</key>
		<string>VARCHAR(1000)</string>
		<key>thumbPicUrl</key>
		<string>VARCHAR(1000)</string>
		<key>title</key>
		<string>VARCHAR(200)</string>
		<key>likeNum</key>
		<string>INTEGER</string>
		<key>isLike</key>
		<string>INTEGER</string>
		<key>praiseNum</key>
		<string>INTEGER</string>
		<key>isPraised</key>
		<string>INTEGER</string>
		<key>contDataHtml</key>
		<string>VARCHAR(1000)</string>
		<key>themeAbstract</key>
		<string>VARCHAR(1000)</string>
		<key>shareNum</key>
		<string>INTEGER</string>
		<key>pubTime</key>
		<string>INTEGER</string>
		<key>playYear</key>
		<string>VARCHAR(200)</string>
		<key>sex</key>
		<string>INTEGER</string>
		<key>isConcerned</key>
		<string>INTEGER</string>
		<key>commentUserId</key>
		<string>VARCHAR(150)</string>
		<key>commentName</key>
		<string>VARCHAR(150)</string>
		<key>commentUserURL</key>
		<string>VARCHAR(300)</string>
		<key>commentTime</key>
		<string>INTEGER</string>
		<key>commentNum</key>
		<string>INTEGER</string>
		<key>comment</key>
		<string>VARCHAR(500)</string>
		<key>evaluateUserId</key>
		<string>VARCHAR(150)</string>
		<key>evaluateName</key>
		<string>VARCHAR(150)</string>
		<key>evaluateUserURL</key>
		<string>VARCHAR(300)</string>
		<key>evaluateUserThumbURL</key>
		<string>VARCHAR(300)</string>
		<key>evaluateTime</key>
		<string>INTEGER</string>
		<key>content</key>
		<string>VARCHAR(1000)</string>
		<key>tagInfo</key>
		<string>VARCHAR(1000)</string>
	</dict>
</dict>
</plist>
